# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Sentient Engine/.vs/
Sentient Engine/Sentient Editor/obj/
*.csproj
Sentient Engine/Sentient Engine/x64/
*.filters
*.vcxproj
Sentient Engine/x64/
